.logo {
  display: grid;
  line-height: 1;
  user-select: none;
}

@media (min-width: 540px) {
  .logo {
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    column-gap: 1.6em;
  }
}

.logo__img {
  width: 14.3em;
  height: 8.3em;
}

@media (max-width: 539px) {
  .logo__img {
    justify-self: center;
    margin-bottom: 1.8em;
  }
}

@media (min-width: 540px) {
  .logo__img {
    grid-row: 1 / 3;
  }
}

.logo__title {
  align-self: flex-end;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 700;
}

.logo__tagline {
  align-self: flex-start;
  margin: 0;
  font-size: 1.6em;
}
